@import url(/style.css);

.nav-bar {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  position: relative;
}

.nav-bar__search-wrapper {
  background-color: white;
  flex-shrink: 1;
  border: none;
  display: flex;
  overflow: hidden;
}

.nav-bar__search-input {
  min-width: 0;
  border: none;
  flex-shrink: 1;
}

.nav-bar__search-input:focus {
  outline: none;
}

.nav-bar__toggle {
  display: none;
}

.nav-bar__list-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar__list-item {
  list-style: none;
  cursor: pointer;
  margin-left: 2rem;
}

.nav-bar__list-item:hover {
  transform: scale(1.1);
}

.nav-bar__link,
.nav-bar__link:link,
.nav-bar__link:visited {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
}

.nav-bar__link * {
  pointer-events: none;
}

.nav-bar__link--active.active {
  position: relative;
}

.nav-bar__link--active::after {
  display: inline-block;
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -2px;
  background-color: var(--color-primary);
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .nav-bar__list-group {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    background-color: inherit;
    top: 100%;
    right: 1rem;
    padding-top: 0.5rem;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    transform: scaleX(0) translateY(-50%);
    box-shadow: 1px 1px 1px var(--color-black-light);
    transition: all 0.2s ease;
  }

  .nav-bar__list-group.show {
    opacity: 1;
    transform: scaleX(1);
    z-index: 1;
  }

  .nav-bar__toggle {
    display: inline-block;
  }

  .nav-bar__toggle-icon {
    transition: all 0.2s ease;
  }

  .nav-bar__toggle.active .nav-bar__toggle-icon {
    transform: rotate(90deg);
  }

  .nav-bar__list-item {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
  }
}

/* Side Bar */

.side-bar {
  width: fit-content;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  transition: all 0.2s ease;
}

.side-bar__header-wrapper {
  width: 100%;
  display: flex;
  padding-left: 0.5rem;
  align-items: center;
  border-bottom: solid 1px var(--color-primary);
  transition: all 0.1s ease;
}

.side-bar__heading {
  transition: all 0.2s ease;
}

.side-bar__link:link,
.side-bar__link:visited {
  text-decoration: none;
  color: inherit;
}

.side-bar__toggle.active {
  transform: rotate(90deg);
}

.side-bar__menu {
  list-style: none;
  max-width: 100%;
  transition: all 0.2s ease;
}

.side-bar__item {
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.side-bar__item:hover {
  background-color: var(--color-black-light);
}

.side-bar__item--header i {
  pointer-events: none;
}

.side-bar__item--header.active i {
  transform: rotate(90deg);
}

.side-bar__menu--sub {
  opacity: 1;
  transform-origin: top;
  transition: all 0.2s ease;
}

.side-bar__menu--sub.hide {
  transform: scaleY(0);
  opacity: 0;
}

.side-bar.hide {
  transform: translateX(calc(-100% + 4.25rem));
}

.side-bar.hide > .side-bar__menu,
.side-bar.hide .side-bar__heading {
  transform: translateX(-120%);
  transform-origin: left;
}

.side-bar.hide .side-bar__header-wrapper {
  border-bottom: none;
}
