/* border-radius */

.br-0 {
  border-radius: 0;
}

.br-1 {
  border-radius: 3px;
}

.br-2 {
  border-radius: 5px;
}

.br-3 {
  border-radius: 10px;
}

.br-4 {
  border-radius: 15px;
}

.br-r {
  border-radius: 50%;
}