/* box-shadows */

.shadow-xs {
  box-shadow: 1px 1px 1px var(--color-black-shadow);
}

.shadow-sm {
  box-shadow: 2px 2px 2px var(--color-black-shadow);
}

.shadow-md {
  box-shadow: 3px 3px 3px var(--color-black-shadow);
}

.shadow-lg {
  box-shadow: 4px 4px 4px var(--color-black-shadow);
}

/* small shadow only on hover */

.shadow-hover-only:hover {
  box-shadow: 2px 2px 2px var(--color-black-shadow);
}

/* shadow with larger shadow on hover */

.shadow-xs-hover {
  box-shadow: 1px 1px 1px var(--color-black-shadow);
}

.shadow-xs-hover:hover {
  box-shadow: 2px 2px 2px var(--color-black-shadow);
}

.shadow-sm-hover {
  box-shadow: 2px 2px 2px var(--color-black-shadow);
}

.shadow-sm-hover:hover {
  box-shadow: 3px 3px 3px var(--color-black-shadow);
}

.shadow-md-hover {
  box-shadow: 3px 3px 3px var(--color-black-shadow);
}

.shadow-md-hover:hover {
  box-shadow: 4px 4px 4px var(--color-black-shadow);
}
