/* box-shadows */

.shadow-xs {
  box-shadow: 0.5px 0.5px 0.5px lightgray;
}

.shadow-small {
  box-shadow: 1px 1px 1px lightgray;
}

.shadow-medium {
  box-shadow: 2px 2px 2px lightgray;
}

.shadow-large {
  box-shadow: 3px 3px 3px lightgray;
}

/* small shadow only on hover */

.shadow-hover-only:hover {
  box-shadow: 1px 1px 1px lightgray;
}

/* shadow with larger shadow on hover */

.shadow-xs-hover {
  box-shadow: 0.5px 0.5px 0.5px lightgray;
}

.shadow-xs-hover:hover {
  box-shadow: 1px 1px 1px lightgray;
}

.shadow-small-hover {
  box-shadow: 1px 1px 1px lightgray;
}

.shadow-small-hover:hover {
  box-shadow: 2px 2px 2px lightgray;
}

.shadow-medium-hover {
  box-shadow: 2px 2px 2px lightgray;
}

.shadow-medium-hover:hover {
  box-shadow: 3px 3px 3px lightgray;

}