:root {
  --primary-color: #00ADB5;
  --secondary-color: #393E46;
  --off-white: #EEEEEE;
  --text: #222831;
  --danger-color: ##dc2626;
  --warning-color: #facc15;
  --light-gray: #e2e8f0;
  --blue-color: #2563eb;
}