.grid {
  display: grid;
  grid-gap: 0.5rem;
  max-width: 100%;
  justify-content: center;
}

.grid--r {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.grid--2 {
  grid-template-columns: 1fr 1fr;
}

.grid--3 {
  grid-template-columns: 1fr 1fr 1fr;
}
