.alert {
  display: flex;
  width: 600px;
  max-width: 90%;
  color: var(--color-text-white);
  transition: all ease 0.2s;
  user-select: none;
}

.alert__dismiss {
  cursor: pointer;
  user-select: none;
}

.alert__dismiss:hover {
  transform: scale(1.2);
}

.alert__dismiss > * {
  pointer-events: none;
}

.alert__link {
  margin-left: 0.25rem;
  color: inherit;
}

.alert--primary {
  background-color: var(--color-primary);
}

.alert--secondary {
  background-color: var(--color-secondary);
}

.alert--outline-primary {
  color: var(--color-text-black);
  border: solid 2px var(--color-primary);
}

.alert--outline-secondary {
  color: var(--color-text-black);
  border: solid 2px var(--color-secondary);
}

.alert--danger {
  background-color: var(--color-red);
}

.alert--warning {
  background-color: var(--color-yellow);
}
