.input {
  position: relative;
  width: fit-content;
  margin-top: 0.5rem;
}

.input__field {
  max-width: 100%;
  padding: 0.5rem;
  border: solid 2px lightgray;
  border-radius: 0.25rem;
}

.input__field:focus {
  outline-color: var(--color-primary-light);
}

.input__float-label {
  padding: 0.1rem;
  position: absolute;
  max-width: calc(100% - 1.5rem);
  overflow: hidden;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-text-black);
  transform: translate(0%, 0%);
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.input__float-label::before {
  position: absolute;
  content: "";
  height: 4px;
  background-color: white;
  width: calc(100% + 0.2rem);
  top: 49%;
  left: -0.1rem;
  z-index: -1;
}

.input__field:not(:placeholder-shown) + .input__float-label {
  opacity: 1;
  transform: translate(2%, -100%);
}

.input__field:required:placeholder-shown ~ .input__required-text::after,
.input__field:required:not(:checked) ~ .input__required-check::after,
.input__field:required ~ .input__required::after {
  position: absolute;
  color: red;
  content: "*";
  font-size: 0.75rem;
  right: -0.5rem;
  top: 0;
}

.input__field:required:not(:checked) ~ .input__required-check::after {
  position: absolute;
  color: red;
  content: "*";
  font-size: 0.75rem;
  right: -0.5rem;
  top: 0;
}

.input__field--valid {
  border-bottom-color: var(--color-green);
}
.input__field--invalid {
  border-bottom-color: var(--color-red);
}
