@import url(/utitlities/utilities.css);
@import url(/buttons/button.css);

.styled-form {
  border: solid 1px var(--color-secondary);
  padding: 2rem;
  width: fit-content;
}

.input-group {
  position: relative;
  width: fit-content;
  margin-top: 0.5rem;
}

.input-group input,
.input-group textarea {
  max-width: 100%;
  padding: 0.5rem;
  border: solid 2px var(--color-primary-light);
  border-radius: 0.25rem;
}

.input-group input:focus,
.input-group textarea:focus {
  outline-color: var(--color-primary-dark);
}

.input-group .float-label {
  padding: 0.1rem;
  position: absolute;
  max-width: calc(100% - 1.5rem);
  overflow: hidden;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1;
  font-size: 0.75rem;
  font-weight: 600;
  transform: translate(0%, 0%);
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.float-label::before {
  position: absolute;
  content: "";
  height: 4px;
  background-color: white;
  width: calc(100% + 0.2rem);
  top: 49%;
  left: -0.1rem;
  z-index: -1;
}

.input-group input:not(:placeholder-shown) + .float-label,
.input-group textarea:not(:placeholder-shown) + .float-label {
  opacity: 1;
  transform: translate(2%, -100%);
}

.input-group input:required:placeholder-shown ~ .required:after {
  position: absolute;
  color: red;
  content: "*";
  font-size: 0.75rem;
  right: 5px;
  top: 4px;
}

.input-group input.valid {
  border-bottom-color: var(--color-green);
}
.input-group input.invalid {
  border-bottom-color: var(--color-red);
}
