@import url(/utitlities/utilities.css);
@import url(/buttons/button.html);

.input-text {
  position: relative;
  width: fit-content;
  margin-top: 0.5rem;
}

.input-text input {
  padding: 0.5rem;
}

.input-text .floating-label {
  padding: 0.1rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1;
  font-size: 0.75rem;
  font-weight: 600;
  transform: translate(0%, 0%);
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 0;
  pointer-events: none;
}

.floating-label::before {
  position: absolute;
  content: "";
  height: 3px;
  background-color: white;
  width: calc(100% + 0.2rem);
  top: 50%;
  left: -0.1rem;
  z-index: -1;
}

.input-text input:not(:placeholder-shown) + .floating-label {
  opacity: 1;
  transform: translate(2%, -100%);
}

.input-text input:valid {
  border-color: green;
}

.input-text input:invalid ~ .invalid-indicator {
  position: relative;
}

.input-text input:required:placeholder-shown ~ .invalid-indicator:before {
  position: absolute;
  content: "Required*";
  font-size: 0.5rem;
  top: -5px;
  right: 1.25rem;
}

/* .input-text input:invalid ~ .invalid-indicator:after {
  content: "✖";
  color: red;
} */
.input-text input:valid ~ .invalid-indicator:after {
  content: "✓";
  color: green;
}
