.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal__body {
    position: relative;
    min-height: 200px;
    min-width: 350px;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: solid 2px var(--color-black-shadow);
    animation-name: moveInTop;
    animation-duration: 0.15s;
    animation-fill-mode: backwards;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px var(--color-light-gray);
    width: 100%;
}

.modal__cta-wrapper {
    width: 100%;
    border-top: solid 1px var(--color-light-gray);
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
