.list-group {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: auto;
  list-style: none;
}

.list__item {
  max-width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  list-style: none;
  cursor: default;
}

.list__item:hover {
  background-color: var(--color-black-light);
}

.list-group--stacked .list__item {
  border: 0.5px solid lightgray;
}

.list-group--spaced-box,
.list-group--spaced {
  padding: 0.5rem;
}

.list-group--spaced-box .list__item,
.list-group--spaced .list__item {
  margin: 0.25rem 0;
}

.list-group--spaced-box .list__item {
  border: 0.5px solid lightgray;
}
