.avatar {
  max-width: 10rem;
  max-height: 10rem;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.avatar__img {
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.avatar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-text-black);
  user-select: none;
  z-index: 2;
  pointer-events: none;
}

.avatar--text-only {
  background-color: var(--color-primary-light);
}

.avatar--text-on-hover .avatar__text {
  display: none;
}

.avatar--text-on-hover:hover .avatar__img {
  opacity: 0.7;
}

.avatar--text-on-hover:hover .avatar__text {
  display: block;
}

.avatar--xs {
  height: 2rem;
  width: 2rem;
}

.avatar--sm {
  height: 3rem;
  width: 3rem;
}

.avatar--md {
  height: 4rem;
  width: 4rem;
}

.avatar--lg {
  height: 6rem;
  width: 6rem;
}

.avatar--xl {
  height: 8rem;
  width: 8rem;
}
